In [1]:
# 必要なライブラリのインポート
import pandas as pd
import numpy as np
import math

import warnings
warnings.filterwarnings('ignore')

## 必要なCSVデータを読み込み

In [2]:
# 商品の売上データ
sales = pd.read_csv('/Users/Desktop/PBL01_1/課題3/data/sales_history.csv')

# 商品IDと商品カテゴリ名
category = pd.read_csv('/Users/Desktop/PBL01_1/課題3/data/category_names.csv') 

# 商品IDと商品カテゴリID
item = pd.read_csv('/Users/Desktop/PBL01_1/課題3/data/item_categories.csv')

# テストデータ
test = pd.read_csv('/Users/Desktop/PBL01_1/課題3/data/test.csv', index_col='index')

## よく使う処理を関数にまとめる

In [3]:
#  日付（yyyy-mm-dd）の「yyyy」と「mm」、「dd」に分割する関数
#  Dataframe型で返却する
def split_date(df):
    df['年'] = df['日付'].apply(lambda x: x.split('-')[0])
    df['月'] = df['日付'].apply(lambda x: x.split('-')[1])
    #df['日'] = df['日付'].apply(lambda x: x.split('-')[2])

    return df

#  売上個数を月単位で集計する関数
#  Dataframe型で返却する
def get_monthly_sales_volume(df):
    df = df.groupby(['商品ID', '店舗ID', '年', '月']).agg({'売上個数': 'sum'}).reset_index()

    return df

#  割引率を月単位で平均する関数
#  Dataframe型で返却する
def get_monthly_discount_volume(df):
    df = df.groupby(['商品ID', '店舗ID', '年', '月']).agg({'割引率': 'mean'}).reset_index()

    return df

# 商品カテゴリ名をハイフンの前後で分ける関数
# 商品カテゴリ名をsplitしたDataFrameで返却する
def split_item_category_name(df, name0='大分類', name1='小分類'):
    item_category_name_split = df.商品カテゴリ名.str.split(' - ', expand = True).rename(columns = {0 : name0, 1 : name1})
    df = pd.concat([df, item_category_name_split], axis = 1).drop('商品カテゴリ名', axis = 1)
    return df

# 訓練データとテストデータを分ける関数
# split_row = df.shape[0]
def split_dataframe(concat_df, split_row):
    train = concat_df.iloc[:split_row, :]
    test  = concat_df.iloc[split_row:, :]

    return train,test

# 年月の型を変換する関数
# Dataframe型で返却する
def to_int_year_month(df):
    df['年'] = df['年'].astype('int')
    df['月'] = df['月'].astype('int')
    return df

In [4]:
# ターゲット170商品にしぼる関数
# Dataframeで返却する＆ファイル保存も行う
def output_target_item(df, test,filename='target_item_170'):
    item_id_list = test['商品ID'].unique()
    df = df[df['商品ID'].isin(item_id_list)]

    # 無いデータの補完
    #すべての組み合わせ（全商品×全店舗×全ての年×全ての月）を検討するために全種類を変数に取り出す
    item_id_list  = df["商品ID"].unique()
    store_id_list = df["店舗ID"].unique()

    year_list = [2018, 2019]
    month_list = [1,2,3,4,5,6,7,8,9,10,11,12] # 1~12月

    zero_table = pd.DataFrame()
    #全商品（170）×全店舗（18）×全ての年（2）×全ての月（12）についてfor文を回す
    for item_id in item_id_list:
        for store_id in store_id_list:
            for year in year_list:
                for month in month_list:
                    if year == 2019 and month == 11:
                        break
                    cat = math.floor(item_id/10000)
                    line = pd.DataFrame({"商品ID" : item_id, "店舗ID" : store_id, "年" : year, "月" : month, "売上個数" : 0, "商品カテゴリID" : cat}, index = [1])
                    zero_table = pd.concat([zero_table,line],axis = 0)

    df = pd.concat([df,zero_table], axis = 0)
    df = df.drop_duplicates(subset = ["商品ID", "店舗ID", "年", "月", "商品カテゴリID"], keep = "first")

    #残った追加予定の売上個数0のデータは下に固まっているためsort_valuesを使って整列させる
    df = df.sort_values(["商品ID", "店舗ID", "年", "月"])
    df = df.reset_index()

    # ファイルを保存する
    df.to_csv(filename + '.csv', index = False)    

    print('{}を保存しました。'.format(filename))
    df = df.drop('index', axis=1)

    return df

## 前処理
訓練データとテストデータをDataFrameを整備する

### 売上データを月単位で集計

In [5]:
# 売上データの売上個数を月単位で集計する
split_date_sales_df = split_date(sales)
monthly_sales_volume_df = get_monthly_sales_volume(split_date_sales_df)
monthly_sales_volume_df.head(2)

      商品ID  店舗ID     年   月  売上個数
0  1000001     0  2018  01   6.0
1  1000001     0  2018  02   3.0

In [6]:
# 商品カテゴリIDをDataFrameの列に追加する
monthly_sales_df = pd.merge(monthly_sales_volume_df, item, on = '商品ID')
monthly_sales_df.head()

      商品ID  店舗ID     年   月  売上個数  商品カテゴリID
0  1000001     0  2018  01   6.0       100
1  1000001     0  2018  02   3.0       100
2  1000001     0  2018  03   1.0       100
3  1000001     0  2018  04   2.0       100
4  1000001     0  2018  06   4.0       100

### 商品IDと店舗IDごとの割引を出したい！

- 定価を出す
- 日単位で割引率を計算する。
- 月単位で割引率を集計する。

In [7]:
# 商品IDごとの定価は最大値とする。
# sales :売上データ（CSVから読み込んだもの）
# item_max_price : 定価を含んだDataFrame
item_max_price = sales.groupby(['商品ID']).agg({'商品価格' : 'max'}).rename(columns={'商品価格' : '定価'})
item_max_price = pd.merge(sales, item_max_price, on = '商品ID')

item_max_price.tail(40)

                 日付  店舗ID     商品ID  商品価格  売上個数     年   月    定価
1119530  2019-10-31    14  1002619   680   1.0  2019  10   680
1119531  2019-10-31     0  1002619   680   2.0  2019  10   680
1119532  2019-10-31    13  1002619   680   1.0  2019  10   680
1119533  2019-10-29     6  1201332   510   1.0  2019  10   510
1119534  2019-10-29     7  1201332   510   1.0  2019  10   510
1119535  2019-10-30    11  1201332   510   1.0  2019  10   510
1119536  2019-10-30     6  1201332   510   1.0  2019  10   510
1119537  2019-10-31     8  1201332   510   1.0  2019  10   510
1119538  2019-10-31    13  1201332   510   1.0  2019  10   510
1119539  2019-10-29     0  2100175  1090   1.0  2019  10  1090
1119540  2019-10-31     0  2100175  1090   1.0  2019  10  1090
1119541  2019-10-31     8  2100175  1090   1.0  2019  10  1090
1119542  2019-10-29     7  2400098  1190   1.0  2019  10  1190
1119543  2019-10-29    13  2400102  3570   1.0  2019  10  3570
1119544  2019-10-30     7  1002618   680   1.0  2019  10   680
1119545  2019-10-31     7  1002618   680   2.0  2019  10   680
1119546  2019-10-31     0  1002618   680   1.0  2019  10   680
1119547  2019-10-31    13  1002618   680   1.0  2019  10   680
1119548  2019-10-30     8  1300370  1190   1.0  2019  10  1190
1119549  2019-10-30     3  1401022   930   1.0  2019  10   930
1119550  2019-10-30    15  1401022   930   1.0  2019  10   930
1119551  2019-10-31    14  1401022   930   1.0  2019  10   930
1119552  2019-10-31     3  1401022   930   2.0  2019  10   930
1119553  2019-10-31    13  1401022   930   2.0  2019  10   930
1119554  2019-10-31     5  1401022   930   1.0  2019  10   930
1119555  2019-10-30     9  1700235   850   1.0  2019  10   850
1119556  2019-10-30    16  2400100  1020   1.0  2019  10  1020
1119557  2019-10-31     5  2400100  1020   1.0  2019  10  1020
1119558  2019-10-30    16  3300324  2040   1.0  2019  10  2040
1119559  2019-10-31    10  1002605   680   1.0  2019  10   680
1119560  2019-10-31    13  1002605   680   3.0  2019  10   680
1119561  2019-10-31    12  1002621   460   1.0  2019  10   460
1119562  2019-10-31     0  1002625   680   1.0  2019  10   680
1119563  2019-10-31     7  1100450  1530   1.0  2019  10  1530
1119564  2019-10-31     7  1201333   510   1.0  2019  10   510
1119565  2019-10-31    14  1300369  4420   1.0  2019  10  4420
1119566  2019-10-31     2  1300369  4420   1.0  2019  10  4420
1119567  2019-10-31    10  1700230   950   1.0  2019  10   950
1119568  2019-10-31     4  2100176  2280   1.0  2019  10  2280
1119569  2019-10-31    16  2400101  1190   1.0  2019  10  1190

In [8]:
# 商品価格/定価で割引率を計算する。
# 下2桁のみ表示する
item_max_price['割引率'] = round((item_max_price['商品価格'] / item_max_price['定価']), 2)
item_max_price.head(10)

           日付  店舗ID     商品ID  商品価格  売上個数     年   月   定価   割引率
0  2018-01-01     9  1000001   420   1.0  2018  01  420  1.00
1  2018-01-01     6  1000001   420   1.0  2018  01  420  1.00
2  2018-01-01    10  1000001   420   1.0  2018  01  420  1.00
3  2018-01-02    10  1000001   420   2.0  2018  01  420  1.00
4  2018-01-02     9  1000001   420   1.0  2018  01  420  1.00
5  2018-01-02    15  1000001   420   1.0  2018  01  420  1.00
6  2018-01-02     6  1000001   420   1.0  2018  01  420  1.00
7  2018-01-02    16  1000001   420   1.0  2018  01  420  1.00
8  2018-01-02     2  1000001   420   1.0  2018  01  420  1.00
9  2018-01-02     5  1000001   340   1.0  2018  01  420  0.81

In [9]:
# 割引率を月単位で平均する
monthly_discount_volume = get_monthly_discount_volume(item_max_price)
monthly_discount_volume.head(2)

      商品ID  店舗ID     年   月   割引率
0  1000001     0  2018  01  1.00
1  1000001     0  2018  02  0.85

In [10]:
# 集計した月単位のDataFrameに月単位の割引率を追加する
# 月単位の売上データ：monthly_sales_df
# 月単位の割引率　　：monthly_discount_volume['割引率']
monthly_df = pd.concat([monthly_sales_df, monthly_discount_volume['割引率']], axis = 1)

# DataFrameの年と月をint型に変換する
monthly_df = to_int_year_month(monthly_df)
monthly_df.head(2)

# 確認用のCSVを吐き出すコード
# monthly_df.to_csv(BASE_INPUT_PATH + 'discount' + '.csv', index = False)

      商品ID  店舗ID     年  月  売上個数  商品カテゴリID   割引率
0  1000001     0  2018  1   6.0       100  1.00
1  1000001     0  2018  2   3.0       100  0.85

In [11]:
# 商品ID・店舗IDごとの割引率で表示したい
item_price_discount = item_max_price.drop(['日付','商品価格', '年', '月'], axis=1)

item_price = item_price_discount.drop_duplicates()
item_price.head()

   店舗ID     商品ID  売上個数   定価  割引率
0     9  1000001   1.0  420  1.0
1     6  1000001   1.0  420  1.0
2    10  1000001   1.0  420  1.0
3    10  1000001   2.0  420  1.0
5    15  1000001   1.0  420  1.0

In [12]:
# 割引率の月平均を抽出
# 商品ID/店舗ID/定価をキーに割引率を（平均で）計算する
store_item_discount_df = item_price.groupby(['商品ID', '店舗ID', '定価']).agg({'割引率' : 'mean'}).rename(columns={'割引率' : '商品店舗ごとの割引率'})
store_item_discount_df

                  商品店舗ごとの割引率
商品ID    店舗ID 定価
1000001 0    420      0.7875
        1    420      0.7750
        2    420      0.8000
        3    420      0.8000
        4    420      0.8000
...                      ...
3500070 16   420      1.0000
3500071 13   590      1.0000
3500072 2    420      1.0000
        16   420      1.0000
3500073 17   420      1.0000

[107115 rows x 1 columns]

## ターゲットを１７０種類に絞る
- 商品IDから商品170種類を抽出し、リスト化する
- リスト化したターゲットの商品をDataFrameに格納する

In [13]:
# ターゲット170種類に絞ったときのCSVファイル名
filename = 'target_item_170'

# 商品170種類を抽出
item_id_list = test['商品ID'].unique()

# 対象の170商品のみDataFrameに格納
monthly_sales_df = monthly_df[monthly_df['商品ID'].isin(item_id_list)]

In [14]:
monthly_sales_df

           商品ID  店舗ID     年   月  売上個数  商品カテゴリID   割引率
0       1000001     0  2018   1   6.0       100  1.00
1       1000001     0  2018   2   3.0       100  0.85
2       1000001     0  2018   3   1.0       100  1.00
3       1000001     0  2018   4   2.0       100  1.00
4       1000001     0  2018   6   4.0       100  1.00
...         ...   ...   ...  ..   ...       ...   ...
492928  3500001    14  2018   6   1.0       350  1.00
492929  3500001    15  2019   5   1.0       350  0.48
492930  3500001    16  2018   9   1.0       350  1.00
492931  3500001    16  2019   3   1.0       350  1.00
492932  3500001    17  2018  12   1.0       350  1.00

[25407 rows x 7 columns]

In [1]:
# fileを作成& Dataframe取得
target_item_170 = output_target_item(monthly_sales_df, test, filename)

NameError: name 'output_target_item' is not defined

## 訓練データとテストデータを作成する

In [17]:
# 訓練データの作成
# target_item_170 : 170種類に絞ったDataFrame
# category : category_names.csvのデータ
target_item = pd.merge(target_item_170, category, on = '商品カテゴリID')
df = split_item_category_name(target_item)

df.head()

      商品ID  店舗ID     年  月  売上個数  商品カテゴリID   割引率 大分類  小分類
0  1000001     0  2018  1   6.0       100  1.00  映画  DVD
1  1000001     0  2018  2   3.0       100  0.85  映画  DVD
2  1000001     0  2018  3   1.0       100  1.00  映画  DVD
3  1000001     0  2018  4   2.0       100  1.00  映画  DVD
4  1000001     0  2018  5   0.0       100   NaN  映画  DVD

In [18]:
# 訓練用のDataFrameをMergeする
# df : 訓練データのもとになるDataFrame
# store_item_discount_df : 商品IDと店舗IDごとの割引率のDataFrame
df_add_discount_tmp = pd.merge(df, store_item_discount_df, on = ['商品ID', '店舗ID'], how = 'left')

# 売上個数が最大の行を抽出＆削除する
target = df_add_discount_tmp[df_add_discount_tmp['売上個数'] == df_add_discount_tmp['売上個数'].max()].index[0]

df = df_add_discount_tmp.drop(target)
df.head()

      商品ID  店舗ID     年  月  売上個数  商品カテゴリID   割引率 大分類  小分類  商品店舗ごとの割引率
0  1000001     0  2018  1   6.0       100  1.00  映画  DVD      0.7875
1  1000001     0  2018  2   3.0       100  0.85  映画  DVD      0.7875
2  1000001     0  2018  3   1.0       100  1.00  映画  DVD      0.7875
3  1000001     0  2018  4   2.0       100  1.00  映画  DVD      0.7875
4  1000001     0  2018  5   0.0       100   NaN  映画  DVD      0.7875

In [19]:
# testデータの作成
# 訓練データと同じカラムの形式にしていく

# 「年」カラムの追加
test['年'] = 2019
# 「月」カラムの追加
test['月'] = 12

test_add_item = pd.merge(test, item, on = '商品ID', how = 'inner')
test_add_item_category_id = pd.merge(test_add_item, category, on = '商品カテゴリID')

test_df = split_item_category_name(test_add_item_category_id)
test_df.head()

      商品ID  店舗ID     年   月  商品カテゴリID 大分類  小分類
0  1000001     0  2019  12       100  映画  DVD
1  1000001     1  2019  12       100  映画  DVD
2  1000001     2  2019  12       100  映画  DVD
3  1000001     3  2019  12       100  映画  DVD
4  1000001     4  2019  12       100  映画  DVD

In [20]:
# テストデータに商品店舗ごとの割引率を追加する
test_col = ['商品店舗ごとの割引率']
test = pd.merge(test_df, store_item_discount_df[test_col], on = ['商品ID', '店舗ID'], how = 'left')
test.head()

      商品ID  店舗ID     年   月  商品カテゴリID 大分類  小分類  商品店舗ごとの割引率
0  1000001     0  2019  12       100  映画  DVD      0.7875
1  1000001     1  2019  12       100  映画  DVD      0.7750
2  1000001     2  2019  12       100  映画  DVD      0.8000
3  1000001     3  2019  12       100  映画  DVD      0.8000
4  1000001     4  2019  12       100  映画  DVD      0.8000

## データの確認
機械学習モデルに学習させる前にデータを確認する

In [21]:
# データの個数を確認
print('訓練データ:{}行、{}列'.format(df.shape[0], df.shape[1]))
print('テストデータ:{}行、{}列'.format(test.shape[0], test.shape[1]))

訓練データ:67319行、10列
テストデータ:3060行、8列

In [22]:
df.head(5)

      商品ID  店舗ID     年  月  売上個数  商品カテゴリID   割引率 大分類  小分類  商品店舗ごとの割引率
0  1000001     0  2018  1   6.0       100  1.00  映画  DVD      0.7875
1  1000001     0  2018  2   3.0       100  0.85  映画  DVD      0.7875
2  1000001     0  2018  3   1.0       100  1.00  映画  DVD      0.7875
3  1000001     0  2018  4   2.0       100  1.00  映画  DVD      0.7875
4  1000001     0  2018  5   0.0       100   NaN  映画  DVD      0.7875

In [23]:
test.head()

      商品ID  店舗ID     年   月  商品カテゴリID 大分類  小分類  商品店舗ごとの割引率
0  1000001     0  2019  12       100  映画  DVD      0.7875
1  1000001     1  2019  12       100  映画  DVD      0.7750
2  1000001     2  2019  12       100  映画  DVD      0.8000
3  1000001     3  2019  12       100  映画  DVD      0.8000
4  1000001     4  2019  12       100  映画  DVD      0.8000

## モデルに学習させる

In [24]:
# 説明変数に該当するカラムのリスト
feature_columns = ['商品ID', '店舗ID', '商品カテゴリID', '年', '月', '大分類', '小分類']

In [25]:
# 学習用データの整理
X_train = df[feature_columns] # 学習用データの説明変数
y_train = df['売上個数'] # 学習用データの目的変数

# テスト用データの整理
X_test = test[feature_columns] # テスト用データの説明変数

In [26]:
# ont-hot encordingの対象
cat_features = ['大分類', '小分類']

# one-hot encording
train_df = pd.get_dummies(X_train[feature_columns], drop_first = True)
test_df = pd.get_dummies(X_test[feature_columns], drop_first = True)

In [27]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import make_scorer
from sklearn.model_selection import KFold

# 交差検証用
kf = KFold(n_splits = 5, shuffle = True, random_state = 0)

In [28]:
# 評価関数RMSE
def rmse(y_true, y_pred):
    #RMSEを算出
    rmse = np.sqrt(mean_squared_error(y_true, y_pred))
    print('rmse', rmse)
    
    return rmse

## モデルの生成

In [29]:
# モデルの型の生成
from xgboost import XGBRegressor

# モデルのインスタンスを作成する
xgb = XGBRegressor(random_state = 7)

# パラメータ
xgb_params = {
    'max_depth': [i for i in range(3,6,1)],
    'learning_rate' : [0.05, 0.1],
    'reg_lambda' : [0.001, 0.05],
    'booster' : ['dart', 'gbtree', 'gbliner'],
    'eval_metric' : ['rmse'],
    'gamma' : [0.001, 0.01],
}

# パラメータチューニング
# estimator : モデルのインスタンス
# param_grid : パラメータの探索範囲
# scoring : スコアを出す評価関数
# cv : 交差検証の回数
xgb_cv = GridSearchCV(estimator = xgb, param_grid = xgb_params, scoring = make_scorer(rmse, greater_is_better = False), cv = kf)

# 評価
xgb_cv.fit(train_df, y_train)

# スコアが最も良かったときのパラメータを表示
print('ハイパーパラメータは、{}です。'.format(xgb_cv.best_params_))
print('ベストスコアは、{}です。'.format(-xgb_cv.best_score_))

rmse 1.4735852471206345
rmse 1.5596533057917876
rmse 1.4456173665984027
rmse 1.4912402232459914
rmse 1.7703695788649485
rmse 1.4736218118422895
rmse 1.5607281661933756
rmse 1.4453472107860874
rmse 1.489279840324332
rmse 1.7703954292647734
rmse 1.4193140691037545
rmse 1.5032345623226124
rmse 1.3813565410502533
rmse 1.4347231592592715
rmse 1.7440979242760355
rmse 1.4211796029590213
rmse 1.5073980119149628
rmse 1.3831959608960611
rmse 1.4328588697104834
rmse 1.7394355478200993
rmse 1.3417275095202421
rmse 1.4557795857643065
rmse 1.3129604905543895
rmse 1.3673370659000406
rmse 1.6829093168411369
rmse 1.3456713171524624
rmse 1.4682864352196614
rmse 1.3190830651961283
rmse 1.358504628357124
rmse 1.6738735974125203
rmse 1.422633471753186
rmse 1.518492957793491
rmse 1.4031357531393225
rmse 1.443458599310914
rmse 1.7379936732090713
rmse 1.4226755841378618
rmse 1.5181971831943817
rmse 1.4031562540499114
rmse 1.4434909475946331
rmse 1.7380237541124555
rmse 1.3567318575094383
rmse 1.444766997831032
rmse 1.326265685609296
rmse 1.36439775380686
rmse 1.66747542230786
rmse 1.3586208533538118
rmse 1.4413203827882053
rmse 1.33499678300992
rmse 1.3812094026624888
rmse 1.6590606951361644
rmse 1.2233752515050713
rmse 1.344777198255468
rmse 1.244490388116805
rmse 1.283265176966515
rmse 1.573096118152483
rmse 1.25848927750501
rmse 1.3757930987373068
rmse 1.2430253587432185
rmse 1.2933915062518564
rmse 1.6029396847963449
rmse 1.4735852471206345
rmse 1.5596533057917876
rmse 1.4456173665984027
rmse 1.4912402232459914
rmse 1.7703695788649485
rmse 1.4736218118422895
rmse 1.5607281661933756
rmse 1.4453472107860874
rmse 1.489279840324332
rmse 1.7703954292647734
rmse 1.4193140691037545
rmse 1.5032345623226124
rmse 1.3813565410502533
rmse 1.4347231592592715
rmse 1.7440979242760355
rmse 1.4211796029590213
rmse 1.5073980119149628
rmse 1.3831959608960611
rmse 1.4328588380336842
rmse 1.7394355478200993
rmse 1.3417275973488134
rmse 1.4557795951311567
rmse 1.312960483722404
rmse 1.3673372538011759
rmse 1.6829095668536678
rmse 1.3456713170686174
rmse 1.468286447380876
rmse 1.3190830358606802
rmse 1.3585035941867178
rmse 1.6738737733230193
rmse 1.422633471753186
rmse 1.518492957793491
rmse 1.4031357531393225
rmse 1.443458599310914
rmse 1.7379936732090713
rmse 1.4226755841378618
rmse 1.5181971831943817
rmse 1.4031562540499114
rmse 1.4434909475946331
rmse 1.7380237541124555
rmse 1.3567318853943606
rmse 1.444766997831032
rmse 1.326265685609296
rmse 1.364397889354514
rmse 1.6674757193230025
rmse 1.3586208865222422
rmse 1.4413203827882053
rmse 1.33499678300992
rmse 1.3812094026624888
rmse 1.6590610369820256
rmse 1.2233752355177476
rmse 1.344777198255468
rmse 1.2444903622017838
rmse 1.2758942943517972
rmse 1.5730961686041955
rmse 1.25848927750501
rmse 1.3757933087206442
rmse 1.2430253587432185
rmse 1.2933925221062277
rmse 1.6029398444426433
rmse 1.4735852457698464
rmse 1.5596533049459862
rmse 1.4456173589162364
rmse 1.4912402101038382
rmse 1.7703695926639211
rmse 1.4736218099664395
rmse 1.5607281581809989
rmse 1.4453472164338326
rmse 1.4892798422535267
rmse 1.7703954341921124
rmse 1.4193140720531818
rmse 1.5032345724943352
rmse 1.38135654805144
rmse 1.434723156654595
rmse 1.7440979300908908
rmse 1.421179597454907
rmse 1.5073980225458594
rmse 1.3831959594419934
rmse 1.4328588706399354
rmse 1.7394355400705201
rmse 1.3417275172689758
rmse 1.4557795787948729
rmse 1.31296048518072
rmse 1.3673370778953522
rmse 1.6829093048142412
rmse 1.3456713150697905
rmse 1.468286430032358
rmse 1.3190830715649082
rmse 1.3585046308811743
rmse 1.6738735989731792
rmse 1.4226334694251646
rmse 1.5184929566778755
rmse 1.40313575562371
rmse 1.443458603924766
rmse 1.7379936827530413
rmse 1.4226756054214336
rmse 1.5181971831046552
rmse 1.4031562653391096
rmse 1.4434909408356185
rmse 1.73802374635707
rmse 1.3567318609182641
rmse 1.4447669839048312
rmse 1.3262656827595383
rmse 1.3643977546401347
rmse 1.6674754059425523
rmse 1.3586208370352475
rmse 1.4413203784438684
rmse 1.3349968016816833
rmse 1.3812094109691866
rmse 1.6590607000931188
rmse 1.223375272602119
rmse 1.3447772057706737
rmse 1.2444903814999804
rmse 1.2832651769935777
rmse 1.573096127139208
rmse 1.2584892826696532
rmse 1.3757930899300819
rmse 1.2430253714293438
rmse 1.2933915053013083
rmse 1.6029396829984368
rmse 1.4735852457698464
rmse 1.5596533049459862
rmse 1.4456173589162364
rmse 1.4912402101038382
rmse 1.7703695926639211
rmse 1.4736218099664395
rmse 1.5607281581809989
rmse 1.4453472164338326
rmse 1.4892798422535267
rmse 1.7703954341921124
rmse 1.4193140720531818
rmse 1.5032345724943352
rmse 1.38135654805144
rmse 1.434723156654595
rmse 1.7440979300908908
rmse 1.421179597454907
rmse 1.5073980225458594
rmse 1.3831959594419934
rmse 1.432858835982207
rmse 1.7394355400705201
rmse 1.3417276005368006
rmse 1.455779585363809
rmse 1.3129604758969395
rmse 1.3673372641122226
rmse 1.682909566231175
rmse 1.3456713117984291
rmse 1.4682864415448789
rmse 1.3190830362552364
rmse 1.3585036086240954
rmse 1.6738737879117684
rmse 1.4226334694251646
rmse 1.5184929566778755
rmse 1.40313575562371
rmse 1.443458603924766
rmse 1.7379936827530413
rmse 1.4226756054214336
rmse 1.5181971831046552
rmse 1.4031562653391096
rmse 1.4434909408356185
rmse 1.73802374635707
rmse 1.3567318786123905
rmse 1.4447669839048312
rmse 1.3262656827595383
rmse 1.3643978869683773
rmse 1.6674757047150006
rmse 1.3586208820815648
rmse 1.4413203784438684
rmse 1.3349968016816833
rmse 1.3812094109691866
rmse 1.6590610448826577
rmse 1.223375244617712
rmse 1.3447772057706737
rmse 1.2444903639384257
rmse 1.2758943058765142
rmse 1.573096174445638
rmse 1.2584892826696532
rmse 1.3757933021973914
rmse 1.2430253714293438
rmse 1.2933925237890997
rmse 1.6029398363230103
ハイパーパラメータは、{'booster': 'dart', 'eval_metric': 'rmse', 'gamma': 0.01, 'learning_rate': 0.1, 'max_depth': 5, 'reg_lambda': 0.001}です。
ベストスコアは、1.3323266517861985です。

In [30]:
# best_params_で表示されたパラメータを代入
xgb_best = XGBRegressor(
    max_depth = xgb_cv.best_params_['max_depth'],
    learning_rate = xgb_cv.best_params_['learning_rate'],
    reg_lambda = xgb_cv.best_params_['reg_lambda'],
    booster = xgb_cv.best_params_['booster'],
    eval_metric = xgb_cv.best_params_['eval_metric'],
    gamma = xgb_cv.best_params_['gamma'],
    random_state = 0
)

# 評価
xgb_best.fit(train_df, y_train)

# テストデータの売上個数を予測する
y_pred = xgb_best.predict(test_df)
y_pred = y_pred.round()

In [51]:
y_pred.mean()

1.677124183006536

### 提出用CSVの準備

In [32]:
# CSV読み込み
submission = pd.read_csv('/Users/Desktop/PBL01_1/課題3/data/sample_submission.csv', header = None)

# sample_submissionの右端のカラムに予測値を代入する。
submission.iloc[:, -1] = y_pred

# 予測した売上個数がマイナスの場合、0個として扱う
submission.loc[submission[1] < 0, 1] = 0

# データの確認
submission.head(15).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0
1,1.0,0.0,1.0,6.0,6.0,1.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0

In [33]:
# ファイルの名前
FILENAME = 'submit_20221006'

# フォルダのパス＋ファイルの名前
FILEPATH_en1 = FILENAME + '.csv'
submission.to_csv(FILEPATH_en1, index = False, header = False)

## lightGBMを組んでみる

In [34]:
from lightgbm import LGBMRegressor 

# モデルのインスタンスを作成する
lgb = LGBMRegressor(random_state = 0)

# パラメータ
lgb_params = {
    'boosting_type' : ['gbdt', 'dart', 'goss', 'rf'],
    'objective': ['regression'],
    'metric' : ['rmse'],
    'max_depth' : [i for i in range(4,7, 1)],
    'num_leaves' : [i for i in range(15,25,5)],
    'reg_lambda' : np.logspace(-3,-1, num=2)
}

# パラメータチューニング
# estimator : モデルのインスタンス
# param_grid : パラメータの探索範囲
# scoring : スコアを出す評価関数
# cv : 交差検証の回数
lgb_cv = GridSearchCV(estimator = lgb, param_grid = lgb_params,scoring = make_scorer(rmse, greater_is_better = False), cv = kf)

# 評価
lgb_cv.fit(train_df, y_train)

lgb_cv.best_params_

rmse 1.3646468893321446
rmse 1.4516025067525917
rmse 1.3364132926776726
rmse 1.3811413800589518
rmse 1.6742174203211089
rmse 1.367894971491074
rmse 1.4689793550221948
rmse 1.3312697423588389
rmse 1.3730852376157188
rmse 1.6803666739088525
rmse 1.370318683634343
rmse 1.46734230452849
rmse 1.3306259855563358
rmse 1.3742721316024644
rmse 1.689978454682356
rmse 1.3749026862387534
rmse 1.4529449183136016
rmse 1.3408258112902522
rmse 1.375652595380603
rmse 1.67929309046792
rmse 1.3209053849267876
rmse 1.4108804081070256
rmse 1.2981798470108818
rmse 1.3419984648390852
rmse 1.6188438256351256
rmse 1.3046982318707567
rmse 1.4329502419872
rmse 1.2856213248584736
rmse 1.3399253215984392
rmse 1.6270258600286294
rmse 1.3032178883809877
rmse 1.4016060139157425
rmse 1.2742124705760363
rmse 1.3373632356936815
rmse 1.6397612730291518
rmse 1.3204100815034299
rmse 1.4036129534920236
rmse 1.2762526287949902
rmse 1.333460993963814
rmse 1.6256740882416187
rmse 1.3039136732524272
rmse 1.3922154616678628
rmse 1.2727593131451165
rmse 1.3309910951952721
rmse 1.6315017830681213
rmse 1.306689625181426
rmse 1.3752672596546411
rmse 1.274524996389255
rmse 1.3331198979938448
rmse 1.6263657042824013
rmse 1.2690881674267807
rmse 1.3804052924921542
rmse 1.2471967086470392
rmse 1.303659535119174
rmse 1.6055182760615185
rmse 1.2736468099444718
rmse 1.3789115573355535
rmse 1.2533034040205369
rmse 1.31029321837696
rmse 1.6038285729377013
rmse 1.469897402989218
rmse 1.5592937860588203
rmse 1.4244005515027285
rmse 1.4821485374398147
rmse 1.7718178273000105
rmse 1.4703348508844403
rmse 1.5590138437960488
rmse 1.4260531965804408
rmse 1.4831070856702073
rmse 1.7711237745001893
rmse 1.4666505565680952
rmse 1.5576342293481127
rmse 1.4268499497606228
rmse 1.4808153547503433
rmse 1.7721893018514154
rmse 1.4680922158114822
rmse 1.5577237285817753
rmse 1.4214697254119182
rmse 1.481940812670401
rmse 1.7723363249779498
rmse 1.4318309119274868
rmse 1.536067547498887
rmse 1.3900245844916292
rmse 1.454701312743919
rmse 1.746363608521809
rmse 1.4348103268003742
rmse 1.5367554115475626
rmse 1.394504776895004
rmse 1.4513939265311857
rmse 1.7493375426064715
rmse 1.4217653706925817
rmse 1.5227401078384553
rmse 1.3771891898572317
rmse 1.445186146649922
rmse 1.7434408612568693
rmse 1.4259938808086452
rmse 1.5253128753134595
rmse 1.3776001231623916
rmse 1.4447718852514257
rmse 1.745303248612836
rmse 1.4203316957022774
rmse 1.506360684250439
rmse 1.3759925136714382
rmse 1.4387068278319846
rmse 1.7391718754045098
rmse 1.4228151835637097
rmse 1.5120950283554697
rmse 1.3731099087974388
rmse 1.4416729624222897
rmse 1.736842057507289
rmse 1.3980450459297207
rmse 1.4998148751759264
rmse 1.353450568917848
rmse 1.4167827065854723
rmse 1.7311564615894652
rmse 1.409282517078358
rmse 1.5057450979464824
rmse 1.3577317749046405
rmse 1.4194810347374083
rmse 1.7273006633588497
rmse 1.3636118959850927
rmse 1.4618385756219412
rmse 1.3300127093935838
rmse 1.3786637666612171
rmse 1.6804962063796693
rmse 1.3656156056766304
rmse 1.4640648757558776
rmse 1.3330438748378184
rmse 1.3800213243014192
rmse 1.6839151568046415
rmse 1.3548213024504674
rmse 1.4526558059074672
rmse 1.3362273973419854
rmse 1.3795400661932802
rmse 1.6874612116731742
rmse 1.3611942014162197
rmse 1.4611786737056107
rmse 1.3328344511997514
rmse 1.3743538291050315
rmse 1.676988431233891
rmse 1.3174233265776618
rmse 1.424774739495386
rmse 1.3033410552846816
rmse 1.3461132213215632
rmse 1.6498953683468116
rmse 1.3280861169862412
rmse 1.4190517950360388
rmse 1.2972068939923305
rmse 1.3403017162783428
rmse 1.663749591577788
rmse 1.3098767344612106
rmse 1.4077765693418427
rmse 1.2806887306235577
rmse 1.3301931142793006
rmse 1.644401023181549
rmse 1.3116236888030974
rmse 1.4167350149998683
rmse 1.28181502105309
rmse 1.331112602184714
rmse 1.6410512054124662
rmse 1.2988160123812271
rmse 1.4006445936494847
rmse 1.2786535419600513
rmse 1.326561677762437
rmse 1.6257083385152793
rmse 1.3036591312644878
rmse 1.4010780865598738
rmse 1.2805438023328297
rmse 1.330643793180453
rmse 1.6379560709565497
rmse 1.2683629199339277
rmse 1.369678170253128
rmse 1.265974380525301
rmse 1.3113905296469213
rmse 1.6187521311987756
rmse 1.2819943931633018
rmse 1.3673438940495224
rmse 1.2617682098251508
rmse 1.3008108812398254
rmse 1.5973829230615555

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

[LightGBM] [Fatal] Check failed: config->bagging_freq > 0 && config->bagging_fraction < 1.0f && config->bagging_fraction > 0.0f at /Users/runner/miniforge3/conda-bld/lightgbm_1641600054035/work/compile/src/boosting/rf.hpp, line 35 .

{'boosting_type': 'gbdt',
 'max_depth': 6,
 'metric': 'rmse',
 'num_leaves': 20,
 'objective': 'regression',
 'reg_lambda': 0.001}

In [36]:
# best_params_で表示されたパラメータを代入
lgb_best = LGBMRegressor(
    boosting_type = lgb_cv.best_params_['boosting_type'],
    max_depth = lgb_cv.best_params_['max_depth'],
    metric = lgb_cv.best_params_['metric'],
    num_leaves = lgb_cv.best_params_['num_leaves'],
    objective = lgb_cv.best_params_['objective'],
#    reg_lambda = lgb_cv.best_params_['reg_lambad'],
    random_state = 0
)


# 評価
lgb_best.fit(train_df, y_train)

# テストデータの売上個数を予測する
y_pred = lgb_best.predict(test_df)
y_pred = y_pred.round()

In [52]:
y_pred.mean()

1.677124183006536

### 提出用CSVの準備

In [37]:
# CSV読み込み
submission = pd.read_csv('/Users/Desktop/PBL01_1/課題3/data/sample_submission.csv', header=None)

# sample_submissionの右端のカラムに予測値を代入する。
submission.iloc[:, -1] = y_pred

# 予測した売上個数がマイナスの場合、0個として扱う
submission.loc[submission[1] < 0, 1] = 0

submission.head(15).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0
1,2.0,1.0,2.0,5.0,4.0,2.0,2.0,3.0,1.0,2.0,2.0,1.0,1.0,3.0,1.0

#### 提出ファイルの生成

In [38]:
# ファイルの名前
FILENAME = 'submit_20221006_2'

# フォルダのパス＋ファイルの名前
FILEPATH_en2 = FILENAME + '.csv'
submission.to_csv(FILEPATH_en2, index = False, header = False)

## シンプルなアンサンブルをやってみる
1. 上記で学習させたモデル2つをアンサンブルする
2. 既に出力したCSVでアンサンブルする

In [39]:
# アンサンブル用に学習されたDataFrameを平均する関数
def get_concat_df_mean(df):
    mean_df = pd.DataFrame(np.mean(df, axis = 1), columns = ['mean_col'])
 
    return mean_df

### 上記で学習させたモデル２つをアンサンブルする

In [40]:
en1 = pd.read_csv(FILEPATH_en1, header = None, index_col = 0).rename(columns = {1 : 'en1'})
en2 = pd.read_csv(FILEPATH_en2, header = None, index_col = 0).rename(columns = {1 : 'en2'})

ensemble_concat = pd.concat([en1, en2], axis = 1).astype(np.float64)

In [41]:
ensemble_concat

      en1  en2
0
0     1.0  2.0
1     0.0  1.0
2     1.0  2.0
3     6.0  5.0
4     6.0  4.0
...   ...  ...
3055  2.0  2.0
3056  0.0  1.0
3057  0.0  1.0
3058  0.0  1.0
3059  1.0  1.0

[3060 rows x 2 columns]

In [53]:
#submission.iloc[:, -1] = get_concat_df_mean(ensemble_concat)

submission.iloc[:, -1]  = (ensemble_concat["en1"] + ensemble_concat["en2"]*2)/3

submission.to_csv('/Users/Desktop/PBL01_1/課題3/data/sample_ensemble.csv', index = False, header = False)
submission.describe().T

    count         mean         std  min     25%     50%      75%          max
0  3060.0  1529.500000  883.490238  0.0  764.75  1529.5  2294.25  3059.000000
1  3060.0     1.691285    1.546130  0.0    1.00     1.0     2.00    19.333333